Django==1.7.1
PyJWT==0.3.2
PyYAML==3.11
Werkzeug==0.9.6
boto==2.36.0
dj-database-url==0.3.0
django-autoslug==1.7.2
django-configurations==0.8
django-cors-headers==1.0.0
django-debug-toolbar==1.2.2
django-dotenv==1.2
django-extensions==1.4.6
django-filter==0.9.1
django-gravatar==0.1.0
django-gravatar2==1.1.4
django-secure==1.0.1
django-storages==1.1.8
django-watson==1.1.5
djangorestframework==3.0.2
djangorestframework-jwt==1.1.1
emberdrf==0.1.7
gunicorn==19.1.1
inflection==0.2.1
newrelic==2.36.0.30
psycopg2==2.5.4
pytz==2014.10
requests==2.5.1
rest-framework-ember==1.1.0
six==1.8.0
sqlparse==0.1.13
wsgiref==0.1.2
